*{
    margin: 10px 10px;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
  background-color:hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
    background-color:  hsl(0, 0%, 12%);
    max-width: 500px;
    width: 850%;
    padding: 24px;
    border-radius: 10px;
}
.container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 20px;
}
.container h1{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.container h1 span{
    color:  hsl(75, 94%, 57%);
    display: block;
    font-size: 14px;
    margin: 15px 0px 30px;

}
.container p{
    color: white;
    margin-bottom: 5px;
    text-align: center;
}
.container ul{
    display: grid;
   
    
}
.container ul li button{
    Width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 18%) ;
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;

}
.container ul li button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.attribution {
     font-size: 14px; 
    text-align: center; 
    color: white;
}

.attribution a 
{
    color: hsl(228, 45%, 44%);
 }